.card-groupomania {
    margin-bottom: 15px;
    padding: 20px !important;
}

.card-groupomania:last-child {
    margin-bottom: 0;
}

.bg-gray {
    background: #F2F2F2;
}

.user {
    margin-bottom: 10px;
}

.comment p {
    font-size: 14.5px;
    font-weight: 300;
}