.user-post {
    background: #FFF;
    border: 1px solid #CED4DA;
    padding: 25px !important;
    margin-bottom: 25px;
}

.user-post:last-child {
    margin-bottom: 0;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .b-avatar {
    color: #989CA1;
    background-color: #DAE0E6;
    margin-right: 8px;
    width: 32px;
    height: 32px;
}

.user-info h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}

.btn-circle:first-child {
    margin-right: 10px;
}

.btn-circle:last-child {
    margin-right: 0;
}

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
}

.btn-circle .b-icon {
    font-size: 18px !important;
    margin-left: -2px !important;
}

.post {
    margin-bottom: 20px;
}

.post a {
    cursor: pointer;
}

.post-link {
    text-decoration: none;
    color: #FD2D01;
    transition: all .3s ease-in-out;
}

.post-link:hover {
    text-decoration: underline;
    color: #FD2D01;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    color: #FD2D01;
    margin-bottom: 15px;
}

.post-content {
    font-size: 15px;
    font-weight: lighter;
}

.post-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.comment {
    display: flex;
    justify-content: space-between;
}